# ENV Variables Example
DB_HOST=localhost
DB_NAME=encorely_db
DB_USER=admin
DB_PASSWORD=Encorely2026!
KAFKA_HOST=localhost
KAFKA_PORT=9092
CONTROL_CENTER_PORT=9021
GET_SPOTIFY_CLIENT_ID=your_client_id
GET_SPOTIFY_CLIENT_SECRET=your_client_secret
